body {
  background: url("assets 2/bg.jpg");
  font-family: sans-serif;
  // background: url("assets 2/grid.png");

    ul {
        list-style-type: none;
    }
    li {
        display: inline-block;
    }
    a {
      text-decoration: none;
    }
}
