body {
    .articles {
        padding-bottom: 1em;
        @include clearfix;

        .article1 {
            background: $color-primary;
            @include outer-container;
            @include span-columns(4);
            box-shadow: 0 3px  $color-tertiary;
        }

        .article2 {
            background: $color-primary;
            @include span-columns(4);
            box-shadow: 0 3px  $color-tertiary;
        }

        .article3 {
            background: $color-primary;
            @include span-columns(4);
            box-shadow: 0 3px  $color-tertiary;
        }
    }

    .article-link {
        color: $color-secondary;
    }

    .articles::after {
        content: '';
        display: block;
        clear: both;
    }

    h3 {
        position: absolute;
        color: $color-primary;
    }

    .skater-profiles {
        @include outer-container;

        .lm {
            @include span-columns(4);
            position: relative;
            border: 2px solid $color-primary;
            margin-bottom: 0.5em;
            box-shadow: 0 3px  $color-tertiary;
        }

        .rm {
            @include span-columns(4);
            border: 2px solid $color-primary;
            margin-left: 0.5em;
            margin-right: 0.5em;
            margin-bottom: 0.5em;
            box-shadow: 0 3px  $color-tertiary;
        }

        .tg {
            @include span-columns(4);
            border: 2px solid $color-primary;
            float: right;
            height: 19em;
            margin-top: -7em;
            box-shadow: 0 3px  $color-tertiary;
        }

        .sc {
            border: 1px solid $color-primary;
            @include span-columns(8);
            box-shadow: 0 3px  $color-tertiary;
        }
    }

    .board-designs {
        background: $color-primary;
        margin-top: 1em;
        @include outer-container;
        box-shadow: 0 3px  $color-tertiary;

        img {
            @include span-columns(1 of 10);
        }
    }

    body::after {
        @include clearfix;
    }
    @media (min-width: 460px) {
        .articles div {
          height: 26em;
        }

        .article-link {
            margin-left: 2.5em;
        }
        h3 {
          font-size: 1em;
          padding-left: 1em;
          padding-top: 1em;
        }

        .sc h3 {
          font-size: 2em;
          padding-left: 2em;
          padding-top: 1.5em;
        }
    }
    @media (min-width: 860px) {
        .articles div {
          height: 19em;
        }

        .article-link {
            margin-left: 6.5em;
        }

        h3 {
          font-size: 2em;
          padding-left: 1em;
          padding-top: 1.5em;
        }

        .sc h3 {
          font-size: 4em;
          padding-left: 2em;
          padding-top: 1em;
        }
    }
}
