footer {
    background: $color-primary;
    margin: 2em auto;

    .contact-footer {
      box-shadow: 0 3px  $color-tertiary;
    }

    .board-designs {
        margin-top: 2em;
    }

    .contact-footer::after {
        content: '';
        display: block;
        clear: both;
    }

    .contact-us {
        width: 60%;
        float: left;
        display: inline-block;
    }

    .footer-social-media {
        float: left;

        .fa-facebook {
            height: 20px;
            width: 20px;
            text-align: center;
            background: #4E4E4E;
            color: #777777;
        }

        .fa-rss {
            height: 20px;
            width: 20px;
            background: #AEAEAE;
            color: #BABABA;
            text-align: center;
        }

        .fa-twitter {
            height: 20px;
            width: 20px;
            background: #7A7A7A;
            color: #9B9B9B;
            text-align: center;
        }

        .fa-youtube {
            height: 20px;
            width: 20px;
            background: #737373;
            color: #898989;
            text-align: center;
        }
    }

    .contact-form {
        float: right;
        width: 40%;
        padding-top: 4%;
        display: inline-block;
    }
}
@media (min-width: 460px) {
    .submit {
        width: 10em;
        padding: 1em;
        margin-right: 1.5em;
    }
}
@media (min-width: 860px) {
    .contact-us {
      margin-left: .5em;
      width: 57%;
    }

    .contact-form {
        padding-left: 5%;
        margin-right: -5em;
    }

    .submit {
        margin-right: 9em;
    }
}
