footer {
    background: $color-primary;
    margin: 2em auto;

    .board-designs {
        margin-top: 2em;
    }

    .contact-footer::after {
        content: '';
        display: block;
        clear: both;
    }

    .contact-us {
        width: 60%;
        float: left;
        display: inline-block;
    }

    .footer-social-media {
        float: left;

        fa {

          height: 20px;
          width: 20px;

            .fa-facebook {
                background: #4E4E4E;
                color: #777777;
            }

            .fa-rss {
                background: #AEAEAE;
                color: #BABABA;
            }

            .fa-twitter {
                background: #7A7A7A;
                color: #9B9B9B;
            }

            .fa-youtube {
                background: #737373;
                color: #898989;
            }
        }
    }

    .contact-form {
        float: right;
        width: 40%;
        padding-top: 4%;
        display: inline-block;
    }
}
