
.navtabs {
  padding-bottom: 1em;
  padding-top: 1em;
  display: inline-block;
  float: left;

 a {
    background: $color-secondary;
    color: $color-primary;
    width: .3em;
    padding: .5em;
    font-size: .2em;
}
  }

button {
  float: right;
  background: transparent;
  color: $color-primary;
  border: none;
  margin-right: -3em;
}

    .header-social-media {
      float: right;


      .fa-facebook {
        color:#757DB0;
        background: #465199;
      }

      .fa-rss {
        background:#D58F1A;
        color: #DEAD60;
      }

      .fa-twitter {
        background:#6689C9;
        color: #8AA8D6;
      }

      .fa-youtube {
        color:#D85E5E;
        background: #C21F17;
      }
  }

  .photo-plus-logo {

    position: relative;
    margin-bottom: 2em;

  .logo {
    position: absolute;
    margin-top: 10em;
  }
}

.header-social-media::after {
  content: '';
  display: block;
  clear: both;
}

  @media (min-width: 460px) {
    .navtabs ul {
      margin-left: -4.2em;
    }

  }

  @media (min-width: 880px) {
    
  }
