    .header-social-media {
      float: right;

      fa-facebook {
        color:#757DB0;
        background: #465199;
      }

      fa-rss {
        background:#D58F1A;
        color: #DEAD60;
      }

      fa-twitter {
        background:#6689C9;
        color: #8AA8D6;
      }

      fa-youtube {
        color:#D85E5E;
        background: #C21F17;
      }
  }
